
.errorMessage {
    padding: 10%;
}

.pictureGrid {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #000;
}
.pictureInfos {
    page-break-inside: avoid;
}
.pictureInfos.deviceNameInfo {
    page-break-inside: auto;
}